.postcard-ROOT {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.postcard-ROOT .postcard-content {
   width: 70%;
   box-sizing: border-box;
   border: 1px solid #999999;
}

.postcard-ROOT .postcard-content .postcard-content-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   background-size: cover;
   background-color: #000;
   color: #FFF;
}

.icons {
   color: #FFF;
}

.postcard-ROOT .postcard-content .postcard-content-title .postcard-content-title-icons {
   margin-right: 15px;
}

.postcard-ROOT .postcard-content .postcard-content-title .postcard-content-title-icons *:hover{
   background-color: #868686;
   cursor: pointer;
}

.postcard-ROOT .postcard-content .postcard-content-title h3 {
   margin-left: 10px;
   font-weight: bolder;
}

.postcard-ROOT .postcard-content .postcard-content-content {
   padding: 20px;
}

.postcard-ROOT .postcard-content .postcard-content-content .postcard-content-subtitle {
   display: flex;
   justify-content: space-between;
}

.postcard-ROOT .postcard-content .postcard-content-content .postcard-content-subtitle span {
   color: #777777;
  font-weight: bolder; 
}

.postcard-ROOT .postcard-content .postcard-content-content p {
   margin-top: 20px;
}

.button-dialog {
   cursor: pointer;
   width: 111px;
   height: 33px;
   border: 1px solid #000000;
   box-sizing: border-box;
   background: #FFFFFF;
}

.dialog-box span{
   padding: 20px;
}