.postcard-ROOT {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.postcard-ROOT .postcard-content {
   width: 70%;
   box-sizing: border-box;
   border: 1px solid #999999;
}

.postcard-ROOT .postcard-content .postcard-content-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   background-size: cover;
   background-color: #000;
   color: #FFF;
}

.icons {
   color: #FFF;
}

.postcard-ROOT .postcard-content .postcard-content-title .postcard-content-title-icons {
   margin-right: 15px;
}

.postcard-ROOT .postcard-content .postcard-content-title .postcard-content-title-icons *:hover{
   cursor: pointer;
}

.postcard-ROOT .postcard-content .postcard-content-title h3 {
   margin-left: 10px;
   font-weight: bolder;
}

.postcard-ROOT .postcard-content .postcard-content-content {
   padding: 20px;
}

.postcard-ROOT .postcard-content .postcard-content-content .postcard-content-subtitle {
   display: flex;
   justify-content: space-between;
}

.postcard-ROOT .postcard-content .postcard-content-content .postcard-content-subtitle span {
   color: #777777;
  font-weight: bolder; 
}

.postcard-ROOT .postcard-content .postcard-content-content p {
   margin-top: 20px;
}

.modal-delete {
   width: 50vw;
   height: 100px;
}

.button-dialog, .button-dialog-delete {
   cursor: pointer;
   width: 111px;
   height: 33px;
   float: right;
   font-size: 17px;
}

.button-dialog {
   margin-top: 15px;
   color: #FFF;
   border: 1px solid #000000;
   box-sizing: border-box;
   background: #000;
}

.button-dialog-delete {
   margin-top: 50px;
   color: #000;
   background: #FFFFFF;
   border: 1px solid #000000;
   box-sizing: border-box;
}

.button-dialog button {
   float: right;
}

.dialog-box span {
   padding: 20px;
}

.dialogcontent-edit {
   width: 500px;
   padding: 20px;
}

.dialog-editbox {
   display: flex;
   flex-direction: column;

} 

.dialog-editbox input, textarea {
   width: 100%;
   border: 1px solid #777777;
   box-sizing: border-box;
   border-radius: 4px;
   padding: 5px 5px 5px 8px;
   margin: 8px 0px;
}
